.root-layout {
    display: flex;
    height: 100vh;
}

#nav-cont{
    height: 100%;
    background-color: #F5F6FD;
    padding: 20px;
    display: flex;
}

nav {
    width: 280px;
    background-color: #06163A;
    color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
}


.content {
    padding-top: 20px;
    flex-grow: 1;
    background-color: #F5F6FD;
    color: #3952D1;
}