@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit-based browsers */
.scrollable-element::-webkit-scrollbar {
  width: 6px; 
}

.scrollable-element::-webkit-scrollbar-track {
  background: #F5F6FD; 
}

.scrollable-element::-webkit-scrollbar-thumb {
  background: #a7a7a7; 
  border-radius: 15px;
}

.scrollable-element::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7; 
  border-radius: 15px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body, html{
  height: 100%;
  width: 100%;
}



