@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit-based browsers */
.scrollable-element::-webkit-scrollbar {
  width: 6px; 
}

.scrollable-element::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.scrollable-element::-webkit-scrollbar-thumb {
  background: #888; 
}

.scrollable-element::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body, html{
  height: 100%;
  width: 100%;
}

